# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules/*
/.pnp/*
/.pnp.js

# testing
/coverage/*
/junit.xml

# production
/build/*
/dist/*

# misc
.DS_Store
.idea
